*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    height: 100%;
    width: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-position: center;
    background-size: cover;
    position: absolute;
}

.container {
    width: 80%;
    margin: 0 auto;
    height: 60px;
}

header {
    background: #84fab0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.form-box{
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 30px auto;
    margin-bottom: 25px;
    position: relative;
    border-radius: 30px;
    text-align: center;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    border-radius: 30px;
    transition: .3s;
}
.formtext{
    margin: auto;
    text-align: center;
}
.input-group{
    top: 128px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 55%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px auto;
    border: 0;
    outline: none;
    border-radius: 30px;
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.chkbx{
    margin: 5px 5px 10px 0;
}

span{
    margin-top: 4px;
    color: #777;
    font-size: 12px;
    position: absolute;
}

#signup{
    left: 50px;
}

#login{
    left: 450px;
}

body{
    background: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.searchForm{
    min-height: 10vh;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: 50%;
    border: none;
    padding: 10px;
}

.searchButton{
    border: none;
    padding: 10px 20px;
    color: white;
    background: lightcoral;
}

#recipes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    min-width: 40%;
    height: 300px;
}

.image{
    margin-top: 2px;
    border-radius: 20%;
    width: 160px;
    height: 120px;
    margin-bottom: 10px;
}

li {
    list-style: none;
    font-weight: 500;
}

.btns{
    display: inline;
}

button{
    margin-top: 10px;
    margin-left: 5px;
}

p{
    margin: 5px;
}

h3{
    margin: 5px;
}

.ibtns{
    margin-top: 10px;
}

#listing{
    float: left;
    width: 380px;
    height: 480px;
    position: absolute;
    margin: 2% auto;
    margin-left: 25px;
    background: #fff;
    padding: 5px;
    overflow: hidden;
    text-align: center;
    margin-top: 20px;
}

#recipe{
    display: inline;
    margin: 10px;
}

#canvas{
    float: right;
    width: 60%;
    height: 480px;
    position: relative;
    background: #fff;
    margin-right: 150px;
    margin-top: 1.25%;
    text-align: center;
}

a{
    cursor: pointer;
}