<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
  <h2>My Ingredients</h2>
  
  <div class="container">
    <form method='POST'>
        <label for="item1">Item 1</label><br>
        <input type="text" id="item1" name="item1" value="Item 1"><br>
        <label for="item2">Item 2</label><br>
        <input type="text" id="item2" name="item2" value="Item 2"><br><br>
        <input type="submit" value="Submit">
      </form>
  </div>
  <script></script>
</body>
</html>