<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="hero">
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button type="button" class="toggle-btn">SignUp</button>
        <button type="button" class="toggle-btn">LogIn</button>
      </div>
      <form id="signup" class="input-group">
        <input type="text" class="input-field" placeholder="Name" required>
        <input type="password" class="input-field" placeholder="Password" required>
        <input type="checkbox" class="chkbx"><span>Remember Password</span>
        <button type="submit" class="submit-btn">SignUp</button>
      </form>
    </div>
  </div>
  <script></script>
</body>
</html>